.gameElement {
    position: absolute;
    top: 0;
    left: 0;
    width: min(75vw,145vh);
    aspect-ratio: 768/512;
}

#background {
    background-color: black;
    /*
     background: url("../images/background.jpg");
     */
    background-size: cover;
}

#gameContainer {
    position: relative; 
    height: 500px;
}
