.gameElement {
    position: absolute;
    top: 0;
    left: 0;
    width: min(75vw,145vh);
    aspect-ratio: 768/512;
}

#background {
    background-color: gray;
    background-size: cover;
}

#gameContainer {
    position: relative; 
    height: 500px;
}

#fps {
    padding-left: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
